################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlacesAPI/v16
/PlacesAPI/obj
/PlacesAPI/bin/Debug/netcoreapp2.2
/.vs/PlacesAPI/config
